.header {
  margin: 0;
  padding: 0;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  text-align: left;
}

.menu {
  text-align: center;
  flex-grow: 1;
}

ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  padding-left: 5px;
}